<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head ('Create Success')">
    <title>Create Success</title>
    <link type="text/css" href="../../static/css/bootstrap-3.3.7.min.css" rel="stylesheet"/>
    <link type="text/css" href="../../static/css/app.css" rel="stylesheet"/>
</head>
<body class="page">
<!-- Navigation bar
    ================================================== -->
<nav th:replace="fragments :: nav ('')"></nav>

<!-- Container
    ================================================== -->
<div class="container">
    <div class="container-wrapper">
        <img th:src="@{/images/success.png}" src="../../static/images/success.png"/>
        <div class="title lead">
            <p>Your questionnaire was created successfully.<br/>You can share the url with others.</p>
        </div>
        <h1 class="title">
            <a  href="view.html"
                th:href="@{'/questionnaires/' + ${questionnaireId}}"
                th:text="${#httpServletRequest.scheme} + '://' + ${#httpServletRequest.serverName} + (${#httpServletRequest.serverPort == 80}? '' : ':' + ${#httpServletRequest.serverPort}) + '/questionnaires/' + ${questionnaireId}">
                http://localhost:8080/questionnaires/{id}
            </a>
        </h1>
    </div>
</div><!-- /.container -->

<!--/*/ <th:block th:include="fragments :: assets"></th:block> /*/-->
</body>
</html>