<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head ('Questionnaire')">
    <title>Questionnaire</title>
    <link type="text/css" href="../../static/css/bootstrap-3.3.7.min.css" rel="stylesheet"/>
    <link type="text/css" href="../../static/css/app.css" rel="stylesheet"/>
</head>
<body class="page view-page">
<!-- Navigation bar
    ================================================== -->
<nav th:replace="fragments :: nav ('')"></nav>

<!-- Container
    ================================================== -->
<div class="container">
    <div class="questionnaire-wrapper">
        <div class="inner">
            <div class="questionnaire-title">
                <h2 th:text="${questionnaire.title}">A Questionnaire about Software Development Experience</h2>
            </div>
            <div class="questionnaire-description">
                <p th:if="${questionnaire.description}" th:text="${questionnaire.description}">
                    Hello, everyone! I'm Lu Mingming, TA of software engineering course. To prepare the
                    "Coding Tools - Java" lecture content, I made this questionnaire. I hope you can
                    take a few minutes to complete this questionnaire. Thank you for your cooperation!
                </p>
                <p>
                    NOTICE: <span class="required-indicator">*</span> means that question is required to answer.
                </p>
            </div>
            <div class="question-container">
                <form th:action="@{'/questionnaires/' + ${questionnaire.id}}" th:object="${replyForm}" action="#" method="post">
                    <!-- Error Message -->
                    <div th:if="${#fields.hasErrors('*')} or ${hasRequiredMissing}" class="alert alert-danger">
                        <p th:each="e : ${#fields.errors('*')}" th:text="${e}">Validation error</p>
                        <p th:if="${hasRequiredMissing}">You must answer the required questions.</p>
                    </div>

                    <div class="form-group question"
                         th:each="question,iter : ${questionnaire.questions}"
                         th:switch="${question.type.name()}"
                         th:classappend="${question.required}? 'required'">

                        <!--/* This hidden input is used to make sure the item is uploaded to the server.
                               So, every question has it's own ReplyFormItem */-->
                        <input type="hidden" th:attr="name='items[' + ${iter.index} + '].sequenceNumber'"
                               th:value="${question.sequenceNumber}"/>

                        <div>
                            <span class="question-index" th:text="${question.sequenceNumber + 1} + '.'">1.</span>
                            <span class="question-content" th:text="${question.content}">Student Number:</span>
                        </div>

                        <!--/* Single Line Text
                            ================================================== */-->
                        <div th:case="'SINGLE_LINE_TEXT'">
                            <input type="text" class="form-control" th:field="*{items[__${iter.index}__].inputText}"
                                   th:errorclass="input-text-has-error"/>
                        </div>

                        <!--/* Multiple Choice
                            ================================================== */-->
                        <div th:case="'MULTIPLE_CHOICE'">
                            <div class="checkbox" th:each="option : ${question.options}">
                                <label>
                                    <input type="checkbox" th:field="*{items[__${iter.index}__].selectedOptions}"
                                           th:value="${option.sequenceNumber}"/>
                                    <span th:text="${option.text}">C/C++</span>
                                </label>
                            </div>
                            <!--/*-->
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    <span>Java</span>
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"/>
                                    <span>PHP</span>
                                </label>
                            </div>
                            <!--*/-->
                            <div class="checkbox" th:if="${question.hasOthersOption}">
                                <label>
                                    <input type="checkbox" th:field="*{items[__${iter.index}__].selectedOptions}"
                                           value="-1"/>
                                    <span th:text="${question.othersOptionText}">Others (Please specify in the box below.)</span>
                                    <input type="text" class="form-control" th:field="*{items[__${iter.index}__].inputText}"
                                           th:errorclass="input-text-has-error"/>
                                </label>
                            </div>
                        </div>

                        <!--/* Single Choice
                            ================================================== */-->
                        <div th:case="'SINGLE_CHOICE'">
                            <div class="radio" th:each="option : ${question.options}">
                                <label>
                                    <input type="radio" th:field="*{items[__${iter.index}__].selectedOptions}"
                                           th:value="${option.sequenceNumber}"/>
                                    <span th:text="${option.text}">Yes</span>
                                </label>
                            </div>
                            <!--/*-->
                            <div class="radio">
                                <label>
                                    <input type="radio"/>
                                    <span>No</span>
                                </label>
                            </div>
                            <!--*/-->
                            <div class="radio" th:if="${question.hasOthersOption}">
                                <label>
                                    <input type="radio" th:field="*{items[__${iter.index}__].selectedOptions}"
                                           value="-1"/>
                                    <span th:text="${question.othersOptionText}">Others (Please specify in the box below.)</span>
                                    <input type="text" class="form-control" th:field="*{items[__${iter.index}__].inputText}"
                                           th:errorclass="input-text-has-error"/>
                                </label>
                            </div>
                        </div>

                        <!--/* Multi-line Text
                            ================================================== */-->
                        <div th:case="'MULTIPLE_LINE_TEXT'">
                            <textarea class="form-control" rows="3" th:field="*{items[__${iter.index}__].inputText}"
                                      th:errorclass="input-text-has-error"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg center-block">Submit</button>
                </form>
            </div><!-- /.question-container -->
        </div><!-- /.inner -->
    </div><!-- /.questionnaire-wrapper -->
</div><!-- /.container -->

<!--/*/ <th:block th:include="fragments :: assets"></th:block> /*/-->
</body>
</html>