<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head ('Submit Success')">
    <title>Submit Success</title>
    <link type="text/css" href="../../static/css/bootstrap-3.3.7.min.css" rel="stylesheet"/>
    <link type="text/css" href="../../static/css/app.css" rel="stylesheet"/>
</head>
<body class="page page-questionnaire-success">
<!-- Navigation bar
    ================================================== -->
<nav th:replace="fragments :: nav ('')"></nav>

<!-- Container
    ================================================== -->
<div class="container">
    <div class="container-wrapper">
        <img th:src="@{/images/success.png}" src="../../static/images/success.png"/>
        <h1 class="title">Thank You</h1>
        <p class="lead">
            Your reply was submitted successfully.
        </p>
        <div class="page-actions row">
            <div class="col-md-6">
                <a th:href="@{/}" href="../index.html" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-home"></span> Take Me Home
                </a>
            </div>
            <div class="col-md-6">
                <a th:href="@{'/questionnaires/' + ${questionnaireId} + '/analysis'}"
                   href="analysis.html" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-circle-arrow-right"></span> View Analysis
                </a>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<!--/*/ <th:block th:include="fragments :: assets"></th:block> /*/-->
</body>
</html>