.page {
    padding-top: 50px;
}

.page-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.page-actions .btn {
    margin-right: 10px;
}

.container-wrapper {
    padding: 40px 15px;
    text-align: center;
}

.container-wrapper .title {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* index.html
-------------------------------------------------- */

.table>tbody>tr>td.col-index, .table>tbody>tr>td.col-title, .table>tbody>tr>td.col-date {
    padding-top: 14px;
}

.table>tbody>tr>td.col-date {
    width: 140px;
}

.table>tbody>tr>td.col-actions {
    width: 142px;
}

/* Carousel */
.carousel {
    height: 410px;
    margin-bottom: 20px;
    background: url('../images/index_sliders_bg.jpg') no-repeat center;
}
.carousel-caption {
    margin-bottom: 50px;
}
.carousel .item {
    height: 410px;
}

/* error.html
-------------------------------------------------- */

.error-page {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

/* create.html
-------------------------------------------------- */

.create-container {
    padding: 20px 0;
}

.create-container .question-container {
    padding-top: 10px;
}

.create-container hr {
     margin-top: 0;
    margin-bottom: 15px;
}

.question button.close {
    margin-left: 15px;
    margin-top: 6px;
}

.option-container .form-group {
    margin-top: 15px;
    margin-bottom: 0;
}

/* questionnaire/view.html
 * reply/view.html
-------------------------------------------------- */

.view-page {
    background-color: #f0f0f0;
}

.questionnaire-wrapper {
    width: 100%;
    min-width: 930px;
    border: 1px solid #dadada;
    position: relative;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.8em;
    margin: 50px auto;
}

.questionnaire-wrapper .inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 910px;
    padding: 20px 0;
}

.questionnaire-title {
    text-align: center;
}

.question-container {
    padding-top: 20px;
}

.required-indicator {
    font-weight: 700;
    color: #f00;
    margin-left: 5px;
}

.question-container .question.required .question-content:after {
    content: '*';
    font-weight: 700;
    color: #f00;
    margin-left: 5px;
}

.input-text-has-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

fieldset[disabled] p.form-control {
    height: auto;
    cursor: auto;
}

/* Responsive CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .option button.close, .option-others button.close {
        float: none;
    }
}

@media (max-width: 768px) {
    .questionnaire-wrapper {
        width: auto;
        min-width: inherit;
        min-height: 400px;
    }
    .questionnaire-wrapper .inner, .create-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .question-attr-container {
        margin-top: 5px;
    }
    .option button.close, .option-others button.close {
        margin-right: 15px;
        margin-top: 0;
    }
    .table>tbody>tr>td.col-date {
        width: 90px;
        text-align: right;
    }
    .table>tbody>tr>td.col-actions {
        width: 82px;
    }
    .col-actions a {
        margin-top: 4px;
    }
    .col-actions a:first-child {
        margin-top: 0;
    }
}
