<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head ('About')">
    <title>About</title>
    <link type="text/css" href="../static/css/bootstrap-3.3.7.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/app.css" rel="stylesheet"/>
</head>
<body class="page">
<!-- Navigation bar
    ================================================== -->
<nav th:replace="fragments :: nav ('about')"></nav>

<!-- Container
    ================================================== -->
<div class="container">
    <div class="container-wrapper">
        <img th:src="@{/images/logo.png}" src="../static/images/logo.png"/>
        <h1 class="title">Questionnaire</h1>
        <p class="lead">
            This is an example for 2017 software engineering course.<br/>
            For anonymous, one can fill in the questionnaire and view the results. For authenticated,
            besides filling and viewing the results, one can also create a new questionnaire and view
            the detail of every reply.
        </p>
        <p class="lead">
            This is open sourced under the <a href="https://mit-license.org/" target="_blank">MIT License</a>.
            Please checkout from <a href="https://github.com/MignDul/se-questionnaire-web" target="_blank">GitHub</a>.
        </p>
    </div>
</div><!-- /.container -->

<!--/*/ <th:block th:include="fragments :: assets"></th:block> /*/-->
</body>
</html>