<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head ('Questionnaire')">
    <title>Questionnaire</title>
    <link type="text/css" href="../static/css/bootstrap-3.3.7.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/app.css" rel="stylesheet"/>
</head>
<body class="page">
<!-- Navigation bar
    ================================================== -->
<nav th:replace="fragments :: nav ('home')"></nav>

<!-- Carousel
    ================================================== -->
<div id="index_sliders" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#index_sliders" data-slide-to="0" class="active"></li>
        <li data-target="#index_sliders" data-slide-to="1"></li>
        <li data-target="#index_sliders" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption">
                <h1>A Simple and Easy to Use Questionnaire System</h1>
                <p>Make a survey, collect opinions, etc.</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <h1>Online Results Analysis</h1>
                <p>Real-time statistical analysis, display with charts.</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <h1>Responsive UI for Every Device</h1>
                <p>PC, mobile phone, tablet.</p>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<!-- Container
    ================================================== -->
<div class="container">
</div><!-- /.container -->

<!--/*/ <th:block th:include="fragments :: assets"></th:block> /*/-->
</body>
</html>