<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head ('Questionnaire')">
    <title>Questionnaire</title>
    <link type="text/css" href="../static/css/bootstrap-3.3.7.min.css" rel="stylesheet"/>
    <link type="text/css" href="../static/css/app.css" rel="stylesheet"/>
</head>
<body class="page">
<!-- Navigation bar
    ================================================== -->
<nav th:replace="fragments :: nav ('home')"></nav>

<!-- Carousel
    ================================================== -->
<div id="index_sliders" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#index_sliders" data-slide-to="0" class="active"></li>
        <li data-target="#index_sliders" data-slide-to="1"></li>
        <li data-target="#index_sliders" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="carousel-caption">
                <h1>A Simple and Easy to Use Questionnaire System</h1>
                <p>Make a survey, collect opinions, etc.</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <h1>Online Results Analysis</h1>
                <p>Real-time statistical analysis, display with charts.</p>
            </div>
        </div>
        <div class="item">
            <div class="carousel-caption">
                <h1>Responsive UI for Every Device</h1>
                <p>PC, mobile phone, tablet.</p>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<!-- Container
    ================================================== -->
<div class="container" th:if="${!#lists.isEmpty(questionnaires)}">
    <h1>All Questionnaires</h1>
    <hr/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-index">#</th>
                <th class="col-title">Title</th>
                <th class="col-date">Date&nbsp;<span class="caret"></span></th>
                <th class="col-actions"></th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="questionnaire,iter : ${questionnaires}">
                <td class="col-index" scope="row" th:text="${iter.index + 1}">1</td>
                <td class="col-title" th:text="${questionnaire.title}">A Text Questionnaire</td>
                <td class="col-date" th:text="${#dates.format(questionnaire.createdAt, 'yyyy-MM-dd HH:mm')}">
                    2017-05-01 08:00</td>
                <td class="col-actions">
                    <a th:href="@{'/questionnaires/' + ${questionnaire.id}}" href="questionnaire/view.html"
                       class="btn btn-primary btn-sm" role="button">Reply</a>
                </td>
            </tr>
            <tr>
                <td class="col-index" scope="row">1</td>
                <td class="col-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </td>
                <td class="col-date">2017-05-01 07:00</td>
                <td class="col-actions">
                    <a href="questionnaire/view.html" class="btn btn-primary btn-sm" role="button">Reply</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div><!-- /.container -->

<!--/*/ <th:block th:include="fragments :: assets"></th:block> /*/-->
</body>
</html>